.add-new-mail-title {
    text-align: center;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: grey;
}

.add-email {
    margin: 100px;
    display: flex;
    flex-direction: column;
    height: 88%;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.button-detail {
    width: 250px;
    height: 40px;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}

.email-compose {
    font-size: 15px;
    border: black 1px solid;
    /* color: #eee; */
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: Lato-Black;
}

.email-compose:hover {
    background-color: var(--purple);
    transition: 0.3s;
    opacity: 75%;
}

.email-compose:hover a {
    color: white !important;
}