.mail-filter-by {
    font-size: 25px;
    margin: 10px;
}

.input-filter-name {
    font-size: 25px;
    width: 100%;
}

.mail-filter-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 20%;
    float: left;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
}