.emails-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border: 5px solid rgb(0, 0, 0);
    font-size: 25px;
    width: 95rem;
    height: 4rem;
    background-color: rgb(134, 195, 223);
    opacity: 70%;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 2%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

:hover.emails-container {
    background-color: rgb(209, 195, 170);
    transition: 0.3s;
}

.email-send-by {
    font-size: 20px;
}

.email-subject {
    font-size: 20px;
}

.email-subject-prev {
    font-size: 20px;
}

.email-body-prev {
    font-size: 20px;
}

.email-send-by a {
    text-decoration: none;
}

.email-preview-container a {
    text-decoration: none;
    color: black;
}