.email-container {
    display: flex;
    cursor: pointer;
    font-size: 30px;
    height: 90%;
    width: 58%;
    margin: 5px;
    background-color: rgb(111, 223, 213);
    margin: auto;
    margin-top: 50px;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    height: 40rem;
    width: 90rem;
    padding: 20px;
    margin: 50px;
    border: 1px solid black;
}

.delete-email {
    cursor: pointer;
    color: red;
    font-size: 30px;
    width: 90%;
}

.back-mailbox {
    float: right;
    border: 3px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: blue;
}

.back-mailbox:hover {
    background-color: rgb(131, 193, 243);
    transition: 0.5s;
}

.email-body {
    background-color: rgb(79, 190, 28);
    border: 2px solid black;
}

.email-replay {
    background-color: rgb(111, 193, 218);
    border: 2px solid black;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-button {
    font-size: 20px;
    border-radius: 8%;
    width: 200px;
    margin: 5px;
}