.email-preview-container {
    width: 100%;
}

.email-preview-container a {
    text-decoration: none;
    color: black;
}

.email-content {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border: 5px solid rgb(0, 0, 0);
    font-size: 25px;
    width: 92%;
    height: 3.5rem;
    background-color: rgb(212, 226, 173);
    opacity: 70%;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 2%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
}

:hover.email-content {
    background-color: rgb(209, 195, 170);
    transition: 0.3s;
}

.email-send-by a {
    text-decoration: none;
}

.email-send-by {
    font-size: 20px;
}

.email-subject {
    font-size: 20px;
}

.email-subject-prev {
    font-size: 20px;
}

.email-body-prev {
    font-size: 20px;
}

.email-perv-cont {
    margin: auto;
    border-left: solid black 4px;
}