/* ADDING NOTE */
.add-note-container {
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto 1rem;
}

.add-note-container input,
.add-note-container textarea {
  border: 0;
  padding: 5px;
  font-size: 0.85rem;
  width: 100%;
  outline: none;
}

.add-note-container input:first-child {
  font-size: 1.3rem;
  font-weight: 600;
  height: 2rem;
}

.add-note-container input:first-child + input,
.add-note-container input:first-child + textarea {
  border-block-start: 1px dotted #bbb;
  height: 2rem;
  transition: border ease-in-out 0.5s;
}

.add-note-container input:first-child:focus + input,
.add-note-container input:first-child + input:focus,
.add-note-container input:first-child + textarea:focus {
  border-block-start: 1px solid var(--purple);
}

.add-note-container textarea {
  font-family: arial;
  margin: 0;
  resize: none;
}

.add-note-container textarea:focus {
  height: 7rem !important;
}

.add-note-actions-container {
  line-height: 3rem;
}

.add-note-actions-container div {
  justify-content: center;
}

.add-note-actions-container div span:not(:first-child) {
  margin-inline-start: 0.5rem;
}

.notes-type-btn {
  cursor: pointer;
  font-style: normal;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  transition: background-color, color ease-in-out 0.5s;
}

.notes-type-btn:hover {
  background-color: rgba(128, 0, 128, 0.2);
}

.notes-type-btn-active {
  background-color: var(--purple) !important;
  color: var(--white);
}

.add-note-actions-container input {
  background-color: var(--purple);
  color: var(--white);
  border: 1px solid var(--black);
  border-radius: 5px;
  font-weight: 600;
  padding: 0.5rem;
  width: 7rem;
}

/* MEDIA QUEIRS */
@media screen and (min-width: 500px) {
  .add-note-actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }
}
