/* FILTER NOTES */
.notes-search-container {
  margin-block-end: 0.5rem;
}

label[for="notes-search-input"]::before {
  content: "\f002";
  color: purple;
  padding: 0 0.2rem 2px 0;
}

label[for="notes-search-input"]:hover {
  cursor: help;
}

.notes-search-container span {
  position: relative;
}

.notes-filter-container input {
  background-color: transparent;
  border: 0;
  border-block-end: 2px solid #222;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0 0.2rem;
  width: 10rem;
  outline: none;
  transition: all ease-in-out 0.5s;
}

.notes-filter-container input:focus {
  border-block-end: 2px solid purple;
  width: 15rem;
}

.notes-filter-container input:focus + .notes-filter-cancel-btn {
  opacity: 1;
}

.notes-filter-cancel-btn {
  opacity: 0;
  position: absolute;
  right: 3px;
  top: 2px;
  transition: opacity ease-in-out 0.5s;
}

.notes-filter-cancel-btn::before {
  content: "\f00d";
}

.notes-ctg-filter-container {
  margin-block-end: 0.5rem;
}

.notes-ctg-filter-container span:first-child {
  font-weight: 600;
  letter-spacing: 1px;
}

.notes-ctg-filter-container span:first-child:before {
  content: "\f0b0";
  color: purple;
  padding-inline-end: 0.3rem;
}

.notes-ctg-filter-select {
  background-color: transparent;
  border: 0;
  border-block-end: 2px solid #222;
  appearance: none;
}

.notes-counter-container::before {
  content: "\f06e";
  color: purple;
  padding-inline-end: 0.3rem;
}
