.note-editor-container {
  background-color: var(--black);
  padding: 0.5rem;
  color: var(--white);
}

.note-editor-type-symbol {
  padding-inline-end: 0.5rem;
  margin-inline-end: 0.5rem;
  border-inline-end: 2px dashed var(--white);
}

/* Symbols */
.fa-text::before {
  content: "\f4ad";
}

.fa-list::before {
  content: "\f03a";
}

.fa-img::before {
  content: "\f03e";
}

.fa-video::before {
  content: "\f167";
}

.note-editor-pin,
.note-editor-color-picker,
.note-editor-copy {
  margin: 0 0.5rem;
}

.note-editor-delete {
  margin-inline-start: 0.5rem;
}

.note-editor-pin img {
  width: 1rem;
  height: auto;
}

.note-editor-color-picker {
  width: 1rem;
  position: relative;
}

.note-editor-color-picker::before {
  content: "\f53f";
}

.note-editor-hider {
  position: absolute;
  left: -0.1rem;
  width: 1rem;
  opacity: 0;
}

.note-editor-copy::before {
  content: "\f0c5";
}

.note-editor-delete::before {
  content: "\f1f8";
}
