/* NOTES LIST */
.note-pinned-title,
.note-not-pinned-title {
  font-family: Lato-Black;
  letter-spacing: 2px;
  margin: 1.5rem 0 0.5rem;
}

.note-pinned-title::before,
.note-not-pinned-title::before {
  content: "\f08d";
  font-size: 80%;
  font-family: fa-solid;
  margin-inline-end: 0.3rem;
}

.note-pinned-title::before {
  color: #8c2c98;
}

.notes-container {
  column-fill: balance;
}

/* MEDIA QUERIES */
@media screen and (min-width: 550px) {
  .notes-container {
    column-count: 2;
  }
}

@media screen and (min-width: 780px) {
  .notes-container {
    column-count: 3;
  }
}

@media screen and (min-width: 1050px) {
  .notes-container {
    column-count: 4;
  }
}

@media screen and (min-width: 1310px) {
  .notes-container {
    column-count: 5;
  }
}
