/* NOTE CARD */
.note-container {
  break-inside: avoid-column;
  border-radius: 5px;
  margin-block-end: 1.5rem;
  overflow: hidden;
  width: 250px;
}

.note-container:hover{
  box-shadow: 1px 1px 5px 1px #8c8c8c;
}

.note-preview-container {
  white-space: pre-line;
  word-break: break-all;
}

.note-title {
  font-family: Lato-Black;
  padding: 0.3rem;
  line-height: 2rem;
  text-transform: capitalize;
  word-break: break-all;
}

.note-title div {
  font-size: 1.2rem;
}

.note-title:hover .note-edit-title-btn{
  display: inline-block;
}

.note-edit-title-btn,
.note-edit-content-btn{
  display: none;
}

.note-edit-title-input {
  background-color: transparent;
  border: 0;
  font-size: 1.1rem;
  font-family: Lato-Black;
  outline: none;
  width: 9rem;
}

.note-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.note-preview-container iframe {
  display: block;
  width: 100%;
}

.note-edit-btn,
.note-edit-confirm,
.note-edit-cancel {
  align-self: flex-start;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  margin-inline-start: 0.5rem;
  padding: 0.5rem;
  transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s;
}

.note-edit-btn,
.note-edit-confirm,
.note-edit-cancel {
  color: #222;
}

.note-edit-btn:hover,
.note-edit-confirm:hover,
.note-edit-cancel:hover {
  background-color: #222;
  color: #eee;
}

.note-edit-btn::before {
  content: "\f044";
}

.note-edit-confirm::before {
  content: "\f00c";
}

.note-edit-cancel::before {
  content: "\f00d";
  padding: 0 0.1rem;
}

.note-text-content-container {
  padding: 0.5rem;
  min-height: 3rem;
}

.note-text-content-container:hover .note-edit-content-btn{
  display: inline-block;
}

.note-text-edit-textarea {
  background-color: transparent;
  border: 0;
  resize: none;
  outline: none;
  overflow-y: auto;
  height: 5rem;
  width: 100%;
}
