/* BASE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--white);
    color: var(--black)
}

.page-layout-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.main-spacer {
    height: 4rem
}