/* HELPERS */
.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 1rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.font-normal {
  font-style: normal;
}

.pointer {
  cursor: pointer;
}

.hider{
  display: none;
}

.fl-uppercase::first-letter{
  text-transform: uppercase;
}

.float-right{
  float: right;
}