/* NAVBAR */

.main-nav-container {
  background-color: var(--black);
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.main-nav-container a{
  text-decoration: none;
}

.nav-logo {
  font-size: 1.5rem;
  font-family: Kanit-Bold;
  letter-spacing: 2px;
}

.nav-logo a {
  color: var(--white);
  text-decoration: none;
}

.nav-logo::after {
  color: var(--green);
  content: ".";
}

.nav-links-container{
  position: absolute;
  right: 0;
  top: 3.2rem;
  background-color: var(--black);
  border-block-end: 1px solid var(--black);
  width: 100%;
}

.nav-links-container li{
  padding: 1rem;
}

.nav-links-container li:hover{
  background-color: var(--white);
}

.nav-links-container li:hover a{
  color: var(--black) !important;
}

.nav-links-container li a{
  color: var(--white);
  font-family: Lato-Black;
  letter-spacing: 2px;
}

.nav-grid-symbol::before {
  color: var(--white);
  cursor: pointer;
  content: "\f00a";
}

[aria-current="page"] {
  color: var(--purple) !important;
}

.nav-links-container-large{
  display: none;
}

/* MEDIA QUERIES */ 
@media screen and (min-width: 500px) {
  .nav-grid-symbol {
    display: none;
  }

  .nav-links-container-large{
    display: flex;
    gap: 20px;
  }

  .nav-links-container-large a{
    color: var(--white);
    font-family: Lato-Black;
    letter-spacing: 2px;
  }

  .nav-links-container-large a:hover{
    color: #85f279;
  }
}